{% load i18n static %}

<div class="wrapper">
  <div class="row">
    <div class="col half center mwide">
      {% spaceless %}
        <div class="button-bar {% if demo_map %}half{% endif %}">
          {# Use DSFR button group to center and size buttons #}
          <div class="fr-btns-group fr-btns-group--center fr-btns-group--lg">
            {% if not UMAP_READONLY %}
              <div class="fr-btns-group__btn">
                <button id="create-map-btn"
                        type="button"
                        class="fr-btn fr-btn--primary fr-btn--lg"
                        aria-controls="tutorial-choice-modal"
                        data-fr-opened="false"
                        aria-label="{% trans "Create a map" %}">
                  {% trans "Create a map" %}
                </button>
              </div>
            {% endif %}
            {% if demo_map %}
              <div class="fr-btns-group__btn">
                <a href="{{ demo_map.get_absolute_url }}" class="fr-btn fr-btn--secondary" aria-label="{% trans "Play with the demo" %}">{% trans "Play with the demo" %}</a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endspaceless %}
    </div>
  </div>
</div>

<div class="wrapper about_summary  highlights">
  <div class="row">
    <div class="col quarter mwide" id="umap">
      <img class="colophon"
           src="{% static 'umap/vendors/dsfr/icons/map/road-map-line.svg' %}"
           alt=""
           width="128px"
           height="128px" />
      <p>
        Je veux accéder à une carte existante.<br>
        Je cherche cette carte dans la barre de recherche
      </p>
    </div>
    <div class="col umap-features-list half mwide" id="features">
      <img class="colophon"
           src="{% static 'umap/vendors/dsfr/icons/design/pencil-line.svg' %}"
           alt=""
           width="128px"
           height="128px" />

      <p>
        Je veux créer une carte, je clique sur le bouton “Créer une carte”.<br>
        J'ai la possibilité de :
        <ul>
          <li>Importer des données proposées par défaut dans l'outil</li>
          <li>Importer des données locales</li>
          <li>Importer des données via une URL</li>
          <li>Choisir un fond de carte</li>
          <li>Choisir la couleur et les icônes</li>
          <li>Gérer les couches de données</li>
          <li>Choisir la licence de vos données importées</li>
          <li>Exporter et partager votre carte</li>
        </ul>
      </p>    
    </div>
    <div class="col quarter mwide" id="opensource">
      <img class="colophon"
           src="{% static 'umap/vendors/dsfr/icons/system/lock-unlock-line.svg' %}"
           alt=""
           width="128px"
           height="128px" />
      <p class="note">
        Et c'est un logiciel libre !<br />
        Retrouvez le code source sur<br />
        - <a href="https://github.com/datactivist/umap">Le code source de l'outil de visualisation (basé sur uMap)</a><br />
        - <a href="https://github.com/datactivist/umap-data-api">Le code source de l'API de données</a><br />
      </p>
    </div>
  </div>
</div>
